<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/liangChapter28_Examples/src/liangChapter28_Examples/TestGraph.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="liangChapter28_Examples.TestGraph"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="liangChapter28_Examples"/>
</launchConfiguration>
